body {
    background-image: url(Bild2/5q.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
}

.logo {
    float: left;
    margin-left: 35px;
    margin-top: 5px;
}

.logoa {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: rgb(142, 138, 137);
}

.logoa:hover {
    color: rgb(20, 20, 20);
}

.menu {
    position: relative;
    float: right;
    margin-right: 1px;
    font-size: 15px;
}

.menua {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
    margin-right: 25px;
    font-size: 15px;
}

.menua a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
    margin-right: 25px;
    font-size: 15px;
}

.menua a:hover {
    color: rgb(142, 138, 137);
}

p img {
    background-color: none;
    vertical-align: middle;
    height: 19px;
    width: 25px;
}

.png {
    width: 21px;
}

.kontent {
    display: inline-block;
    padding-left: 35px;
}

.text {
    margin-top: 40%;
    text-align: left;
    color: rgb(26, 26, 26);
}

.Münchens {
    text-decoration: none;
	padding-bottom: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
    font-size: 35px;
    font-weight: bolder;
}

.buttt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    height:40px;
    width: 50%;
    background: transparent;
    border: 3px solid rgb(26, 26, 26);
	cursor: pointer;
}

.buttt:hover {
    color: rgb(142, 138, 137);
    border: 4px solid rgb(142, 138, 137);
}

.footer {
    position: relative;
    float: right;
	margin-top: 15%;
}

.kont { 
    display: inline-block;
    padding-top: 7%;
	padding-left:  10%;
}

.kontf {
    display: inline-block;
	margin-left: 15px;
    position: relative;
    height: 377px;
    width: 27%;
    border: 3px solid rgb(26, 26, 26);
    padding: 5px;
}

.kontf:hover {
    border: none;
}

.bil {
    height: 200px;
    width: 100%;
}

.München {
	weight: 100%;
	height: 30%;
    margin-top: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgb(20, 20, 20);
    text-align: left;
}

.butt {
    position: relative;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    height: 10%;
    width: 100%;
    background: transparent;
    border: 3px solid rgb(26, 26, 26);
	cursor: pointer;
}

.butt:hover {
    color: rgb(142, 138, 137);
    border: 4px solid rgb(142, 138, 137);
}

.footerb {
    margin-top: 7%;
    width: 90%;
	padding-left: 5%;
    display: inline-block;
}

.but1 {
    float:left;
    width: 25%;
}

.but {
    margin-top: 10px;
    margin-left: 25%;
    float: right;
    width: 50%;
}

.menuaf {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
    font-size: 15px;

}

.menuaf a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
    margin-left: 10%;
    font-size: 15px;
}

.menuaf a:hover {
    color: rgb(142, 138, 137);
}
