body {
    background-image: url(Bild/5q.jpg);
    background-size: cover;
}

.Thema {
    display: inline-block;
    text-align: center;
    margin-top: 250px;
}

.Thema :first-child {
    margin-right: 50px;
    margin-left: 50px;
}

.bild{

}
.thema {
    display: inline-block;
    margin-top: 50px;
    border: 6px solid rgb(255, 255, 255);
    margin-left: 250px;
}
.thema a {
    font-size: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.thema a:hover {
    color: #7E7E7E;
}

.thema:hover {
    border: 6px solid  #7E7E7E;
}

.themad {
    display: inline-block;
    margin-top: 50px;
    border: 6px solid rgb(255, 255, 255);
}

.themad a {
    font-size: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.themad a:hover {
    color: rgb(1, 57, 58);
}

.themad:hover {
    border: 6px solid rgb(1, 57, 58);
    
}
