body {
    background-image: url(Bild/q.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
}

.logo {
    float: left;
    margin-left: 35px;
    margin-top: 5px;
}

.logoa {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: darkgoldenrod;
}

.logoa:hover {
    color: dimgray;
}

.menu {
    float: right;
    margin-right: 1px;
    font-size: 15px;
}

.menua {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-right: 25px;
    font-size: 15px;
}

.menua a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-right: 25px;
    font-size: 15px;
}

.menua a:hover {
    color: dimgray;
}

p img {
    vertical-align: middle;
    height: 19px;
    width: 25px;
}

.png {
    width: 30px;
}

/*
p img:hover {
    height: 19px;
    width: 25px;
}

.png :hover {
    width: 28px;
}

.Video1 {
    float: right;
    border: 3px solid black;
    height: 150px;
    width: 300px;
    margin-top: 100px;
    margin-right: 180px;
}
*/

.text {
    background-color: rgba(255, 252, 252, 0.271);
    float: left;
    margin-top:120px;
    margin-right: 150px;
    margin-left: 40px;
    text-align: left;
}
.München {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 37px;
    color: black;
    text-align: left;
}

.footer {
    background-color: rgba(255, 252, 252, 0.271);
    position: absolute;
    left: 54%;
    top: 90%;

}

.button {
    height:30px;
    width: 90px;
    float: left;
    margin-top:29%;

}

.butt {
    background: transparent;

}