body {
    background: url(Bild/4q.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
}

.logo {
    float: left;
    margin-left: 35px;
}

.logoa {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: darkgoldenrod;
}

.logoa:hover {
    color: dimgray;
}

.menu {
    float: right;
    margin-right: 140px;
    font-size: 15px;
}

.menua {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-right: 25px;
    font-size: 15px;
}

.menua a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-right: 25px;
    font-size: 15px;
}

.menua a:hover {
    color: dimgray;
}

p img {
    vertical-align: middle;
    height: 19px;
    width: 25px;
}

.png {
    width: 30px;
}

/*
p img:hover {
    height: 19px;
    width: 25px;
}

.png :hover {
    width: 28px;
}
*/
