body {
    background-image: url(Bild/gal2a.jpg);
    background-size: cover;
}

.Begr {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zurück {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(228, 238, 238);
    font-size: 14px;
}

.none {
    display: none;   
}

.dasbild {
    margin-left: 30%;
    width: 500px;
    text-align: center;
}

.dasbild:hover {
    border: none;
}

.bild {
    margin-top: 20px;
    height: 300px;
    width: 490px;
}

.bild:hover {
    position: absolute;
    height: 320px;
    width: 520px;
    margin-left: -110px;
    
}

.am {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.378);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(15, 15, 15);
}

.inp {
    width: 290px;
    height: 20px;
    margin-top: 30px;
    border: 8px solid rgb(32, 33, 33);
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(31, 34, 34);
}

.antwort {
    cursor: pointer;
    width: 44%;
    height: 30px;
    margin-top: 10px;
    border: 6px solid rgb(31, 34, 34);
    border-radius: 12px;
    color: rgb(31, 34, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: transparent;
    font-weight: bolder;
}

.antwort:hover {
    background: radial-gradient(#7e7e7e, #fff);
    color: rgb(255, 255, 255);
    border: 2px solid #7e7e7e;
}
